In [1]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("../data/sales.csv")

df.columns = [
    "order_id", "order_date", "item_name", "item_type",
    "item_price", "quantity", "transaction_amount",
    "transaction_type", "received_by", "time_of_sale"
]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   order_date          1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [2]:
df["order_date"] = (
    df["order_date"]
    .astype(str)
    .str.strip()
    .str.replace(".", "/", regex=False)
    .str.replace("-", "/", regex=False)
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   order_date          1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [3]:
df["order_date"] = pd.to_datetime(
    df["order_date"],
    errors="coerce",
    dayfirst=False
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   order_date          1000 non-null   datetime64[ns]
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 78.2+ KB

In [4]:
engine = create_engine(
    "mysql+pymysql://root:database123@localhost:3306/balaji_food"
)

In [5]:
with engine.connect() as conn:
    print("Koneksi berhasil!")

Koneksi berhasil!

In [6]:
df.to_sql(
    name="sales",
    con=engine,
    if_exists="append",
    index=False
)

1000